* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

.navbar {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(138, 67, 244);
    border-bottom: 2px solid black;
}

.logo {
    text-decoration: none;
    color: rgb(255, 3, 3);
    padding-left: 1rem;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.parrafo-ItemListContainer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.productos {
    display: flex;
}

.main-title {
    margin-top: 2rem;
    text-align: center;
}

.container {
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin: 0 auto;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block: 2rem;
}

.producto .ver-mas {
    display: flex;
    text-decoration: none;
    background-color:rgb(9, 234, 155);
    color: white;
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    transition: .2s;
    gap: 4rem;
}

.producto .ver-mas:hover {
    background-color: black;
    color: white;
}

.producto-detalle {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.item-count {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item-count button {
    border: 0;
    width: 2rem;
    height: 2rem;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}